<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
	<title>
		One Down Club - {{title}}
	</title>
	<link href="https://fonts.googleapis.com/css?family=Arimo|Poppins:100,200,400,900" rel="stylesheet">
	{{!--
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	 crossorigin="anonymous"> --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/all.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/customColors.css">
	<link rel="stylesheet" type="text/css" href="/css/mobile.css">
	<!-- Main layout -->
</head>

<body>
	{{#if success_msg}}
	<div class="modal-container">
		<div class="modal green accent-2" style="display:block;">
			<div class=" modal-content">
				{{success_msg}}
			</div>
		</div>
	</div>
	{{/if}}

	{{#if error_msg}}
	<div class="modal-container">
		<div class="modal red accent-2" style="display:block;">
			<div class=" modal-content">
				{{error_msg}}
			</div>
		</div>
	</div>
	{{/if}}

	{{#if error}}
	<div class="modal-container">
		<div class="modal red accent-2" style="display:block;">
			<div class=" modal-content">
				{{error}}
			</div>
		</div>
	</div>
	{{/if}}

	{{!-- <div class="top-bar">
		<div class="top-bar-logo">
			{{#if user.companyLogo}}
			<img src="{{user.companyLogo}}">
			{{else}}
			<h4>One Down Club</h4>
			{{/if}}
		</div>
	</div> --}}
	<div class="grid-container">
		<div class="navigation-menu-button">
			<svg height="35" width="60">
				<line x1="0" y1="2" x2="50" y2="2" class="menu-line"></line>
				<line x1="0" y1="17" x2="50" y2="17" class="menu-line"></line>
				<line x1="0" y1="33" x2="50" y2="33" class="menu-line"></line>
			</svg>
		</div>
		<div class="navigation" style="left: -100%">
			{{#if user}}
			<div class="nav-element-top nav-logo">
				{{#if user.companyLogo}}
				<img src="{{user.companyLogo}}">
				{{else}}
				<h4>One Down Club</h4>
				{{/if}}
			</div>
			<div class="nav-element-top">
				<div class="profile-pic-holder" style="background-image: url('{{user.pic}}');">
				</div>
			</div>
			<div class="nav-element-top user-info">
				<div class="user-info-name">{{ user.username }}</div>
				<div class="user-info-company">{{ user.company }}</div>
				<div class="user-info-priviledge">
					{{#if user.admin}}
					{{i18n "admin"}}
					<br>
					{{/if}}
					{{#if user.moderator}}
					{{i18n "moderator"}}
					{{/if}}
				</div>
			</div>
			{{/if}}
			{{#if user}}
			<a href="/">
				<div class="nav-element 
				{{#if indexActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-home"></i>
					{{i18n "home"}}
				</div>
			</a>
			<a href="/users/add">
				<div class="nav-element 
				{{#if addActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-plus"></i>
					{{i18n "addBooks"}}
				</div>
			</a>
			<a href="/userBooks/{{user.username}}">
				<div class="nav-element 
				{{#if bookshelfActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-book"></i>
					{{i18n "bookshelf"}}
				</div>
			</a>
			<a href="/discover">
				<div class="nav-element 
				{{#if discoverActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-search-plus"></i>
					{{user.company}}{{i18n "their"}} {{i18n "libary"}}
				</div>
			</a>
			<a href="/group/for/{{user.company}}">
				<div class="nav-element 
				{{#if groupsActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-business-time"></i>
					{{i18n "allGroups"}}
				</div>
			</a>
			{{#each user.groups}}
			<a href="/group/{{this.id}}">
				<div class="nav-element 
				{{#if Active}}
				nav-active
				{{/if}}
				">
					<i class="far fa-calendar-check"></i>
					{{this.name}}
				</div>
			</a>
			{{/each}}
			<a class="disabled-link" href="/toplist/{{user.company}}">
				<div class="nav-element
				{{#if toplistActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-trophy"></i>
					{{i18n "toplist"}}
				</div>
			</a>
			<a href="/tracks">
				<div class="nav-element
				{{#if tracksActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-road"></i>
					{{i18n "tracks"}}
				</div>
			</a>
			<a href="/settings">
				<div class="nav-element 
				{{#if settingsActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-user-circle"></i>
					{{i18n "settings"}}
				</div>
			</a>
			<a href="/users/logout">
				<div class="nav-element">
					<i class="fas fa-sign-out-alt"></i>
					{{i18n "logout"}}
				</div>
			</a>
			{{#if user.moderator}}
			<h5>{{i18n "modTools"}}:</h5>
			<a href="/groupcreate">
				<div class="nav-element 
				{{#if groupActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-users"></i>
					{{i18n "createGroup"}}
				</div>
			</a>
			<a href="/company">
				<div class="nav-element 
				{{#if companyActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-users"></i>
					{{i18n "companySettings"}}
				</div>
			</a>
			<a href="/mods/stats">
				<div class="nav-element
				{{#if modStatsActive}}
				nav-active
				{{/if}}
				">
					<i class="far fa-chart-bar"></i>
					{{i18n "stats"}}
				</div>
			</a>
			{{/if}}
			{{#if user.admin}}
			<h5>{{i18n "adminTools"}}:</h5>
			<a href="/adminregister">
				<div class="nav-element 
				{{#if adminsActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-user-ninja"></i>
					{{i18n "addAdminsMods"}}
				</div>
			</a>
			<a href="/manageusers">
				<div class="nav-element 
				{{#if manageActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-user-edit"></i>
					{{i18n "manageUsers"}}
				</div>
			</a>
			<a href="/company/new">
				<div class="nav-element 
				{{#if addCompanyActive}}
				nav-active
				{{/if}}
				">
					<i class="far fa-building"></i>
					{{i18n "addCompany"}}
				</div>
			</a>
			<a href="/admins/companies">
				<div class="nav-element
				{{#if companiesActive}}
				nav-active
				{{/if}}
				">
					<i class="far fa-building"></i>
					{{i18n "companies"}}
				</div>
			</a>
			<a href="/admins/tracks">
				<div class="nav-element
				{{#if tracksAddActive}}
				nav-active
				{{/if}}
				">
					<i class="far fa-plus-square"></i>
					{{i18n "addTracks"}}
				</div>
			</a>
			<a href="/admins/stats">
				<div class="nav-element
				{{#if adminStatsActive}}
				nav-active
				{{/if}}
				">
					<i class="far fa-chart-bar"></i>
					{{i18n "stats"}}
				</div>
			</a>
			{{/if}}
			{{else}}
			<a href="/users/login">
				<div class="nav-element 
				{{#if loginActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-sign-in-alt"></i>
					{{i18n "login"}}
				</div>
			</a>
			<a href="/users/register">
				<div class="nav-element 
				{{#if registerActive}}
				nav-active
				{{/if}}
				">
					<i class="far fa-user"></i>
					{{i18n "register"}}
				</div>
			</a>
			<a href="/users/recover">
				<div class="nav-element 
				{{#if recoverActive}}
				nav-active
				{{/if}}
				">
					<i class="fas fa-key"></i>
					{{i18n "restorePassword"}}
				</div>
			</a>
			{{/if}}
		</div>

		<div class="main">
			{{{body}}}
		</div>
	</div>
	<!-- Javascript import -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="/js/datechanger.js"></script>
	<script src="/js/modals.js"></script>
	<!-- Rater setup -->
	<script src="/js/auxiliary-rater-0831401/rater.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems);
			var elems2 = document.querySelectorAll('.collapsible');
			var instances = M.Collapsible.init(elems2);
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.tabs').tabs();
			$('.tooltipped').tooltip();
		});
	</script>
	<script src="/js/ratersetLayout.js"></script>
	<script src="/js/mobileMenu.js"></script>
	<script src="/js/settingsUpdater.js"></script>
</body>

</html>