{{#if message}}
<div class="modal-container">
  <div class="modal green accent-2" style="display:block;">
    <div class=" modal-content">
      {{message}}
    </div>
  </div>
</div>
{{/if}}

<div class="main-lower">
  <div class="content-box">
    <div class="content-box-title">
      {{i18n "addBooks"}}
    </div>
    <div class="content-box-content">
      {{!-- <div class="row">
        <div class="input-field col s12">
          <div class="row">
            <div class="switch">
              <label>

                <input type="checkbox" id="manually">
                <span class="lever blue accent-2 tooltipped" data-position="bottom" data-tooltip="{{i18n "addManuallyDesc"}}"></span>
                {{i18n "fillManually"}}
              </label>
            </div>
          </div>
        </div>
      </div> --}}
      <div class="row">
        <form class="col s12 searchform">
          <div class="row">
            <div class="col s12" id="bookname-container">
              <input type="text" id="bookname" name="bookname" autocomplete="off" onkeyup="keyupAction()" placeholder=" {{i18n "searchBy"}}">
              <label for="bookname">

              </label>
            </div>
          </div>
          <input type="submit" value="Search" class="button" id="book-search-button">
          <div class="row">
            <div id="results">

            </div>
          </div>
        </form>
        <form class="col s12" action="/bookadd" method="POST" enctype="multipart/form-data" id="addNewBook">
          <div class="row">
            <div class="col s6">
              <input type="text" disabled name="author" id="authorField" required placeholder="{{i18n "authorLabel"}}">
              <label for="author" id="authorLabel">

              </label>
            </div>
            <div class="col s6">
              <input type="text" disabled name="title" id="titleField" required placeholder="{{i18n "titleLabel"}}">
              <label for="title" id="titleLabel">

              </label>
            </div>
          </div>
          <input type="hidden" name="imageField" id="imageField">
          <div class="row">
            <div class="col s12">
              <textarea name="yourThought" id="yourThought" class="materialize-textarea" required placeholder="{{i18n "thoughtLabel"}}"></textarea>
              <label for="yourthought">

              </label>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <select multiple form="addNewBook" name="groupToPost" id="groupToPost">
                {{!-- "select multiple" --}}
                <option value="" disabled selected>{{i18n "groupSelectLabel"}}</option>
                {{#each groups}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
              </select>
              <label>{{i18n "groupLabel"}}</label>
            </div>
            <div class="col s3">
              <span class="rating-label" style="display:inline-block">
                {{i18n "ratingLabel"}}
              </span>
              <div class="rating" data-rate-value=0></div>
            </div>
            <div class="col s1">
              <input name="rateField" id="rateField" required>
            </div>
          </div>
          <div class="row">
            <div class="col s6" id="file-container">
              {{i18n "bookCover"}}
              <input type="file" name="manualPic">
            </div>
            <div class="col s6">
              <input type="hidden" name="isbn" id="isbn" placeholder="ISBN">
              <label class="isbn-hid" for="isbn"></label>
            </div>
            {{!-- <div class="file-field col s6" id="file-container">
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="{{i18n "bookCover"}}" />
              </div>
              <div class="button file-button">
                <span>{{i18n "browse"}}</span>
                <input name="manualPic" type="file" />
              </div>
            </div> --}}
          </div>
          {{!-- <div class="row isbn-hint">
            <div class="col s6">
              <a target="_blank" href="https://kansalliskirjasto.finna.fi/">
                {{i18n "helpISBN"}}
              </a>
              <i style="margin-left: 15px; color: #698FF6; font-size: 1.4em;" class="fas fa-question-circle popup-actuator">
                <div class="info-popup">Kirjojen tunnistamista varten, One Down Club tarvitsee kirjan ISBN-koodin.
                  Oheisesta linkistä pääset Kansalliskirjaston kirjahakuun, josta voit hakea ensin lukemasi kirjan sen
                  nimellä. ISBN löytyy painamalla kirjasta "näytä kaikki tiedot".
                  <br>
                  <br>
                  Jos sinulla on kirja kädessäsi, voit tarkistaa ISBN-koodin kirjan takakannesta, EAN-koodin
                  yläpuolelta.
                </div>
              </i>
            </div>
          </div> --}}
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="bookSubmit" type="submit" value="{{i18n "saveBookButton"}}" class="button">
        </div>
      </div>
      </form>
      <div id="results">

      </div>
    </div>
  </div>
</div>
</div>