{{#if user}}
<div class="modal-container">
<div class="modal red accent-2" style="display:block;">
  <div class=" modal-content">
    Username has been taken
  </div>
</div>
</div>
{{/if}}
{{#if mail}}
<div class="modal-container">
<div class="modal red accent-2" style="display:block;">
  <div class=" modal-content">
    Email has been registered
  </div>
</div>
</div>
{{/if}}
{{#if errors}}
{{#each errors}}
<div class="modal-container">
<div class="modal red accent-2" style="display:block;">
  <div class="modal-content">
    {{msg}}
  </div>
</div>
</div>
{{/each}}
{{/if}}

<div class="main-lower">
  <div class="content-box">
    <div class="content-box-content">
      <div class="row">
        <form method="POST" action="/adminregister" class="col s6">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="username" id="username">
              <label for="username">
                Username
              </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="email" name="email" id="email">
              <label for="email">
                Email
              </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="password" name="password" id="password">
              <label for="password">
                Password
              </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <input type="text" name="accessCodeForm" id="accessCodeForm">
              <label for="accessCodeForm">
                Code
              </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label>
                Priviledges
              </label>
            </div>
            <div class="input-field col s6">
              <label>
                <input type="checkbox" class="filled-in" name="adminPriviledge" id="adminPriviledge" />
                <span>Admin</span>
              </label>
            </div>
            <div class="input-field col s6">
              <label>
                <input type="checkbox" class="filled-in" name="moderatorPriviledge" id="moderatorPriviledge" />
                <span>Moderator</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="submit" value="Register" class="button btn">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>