<div class="main-upper">
  <h3>{{i18n "companies"}}</h3>
</div>
<div class="main-lower">

  <div class="content-box">
    <div class="content-box-content">
      <ul class="collapsible">
        {{#each companies}}
        <li>
          <div class="collapsible-header"><img src="{{this.logo}}">{{this.company}}</div>
          <div class="collapsible-body">
            <span>
              <div class="company-wrap">
                <div>
                  <h5>Logo:</h5>
                  <img width="200px" height="200px" src="{{this.logo}}">
                </div>
                <div>
                  <h5>Cover:</h5>
                  <img width="200px" height="200px" src="{{this.cover}}">
                </div>
                <div>
                  <h5>Discover:</h5>
                  <a href="/discover/companies/{{this.company}}">Link</a>
                </div>
              </div>
              <div>
                <h5>Groups:</h5>
                {{log this}}
                <table class="striped">
                  <thead>
                    <tr>
                      <th>Group name</th>
                      <th>Link</th>
                    </tr>
                  </thead>

                  <tbody>
                    {{#each ../this.groups}}
                    <tr>
                      <td>{{this.name}}</td>
                      <td>
                        <a href="/userBooks/{{this.id}}">Group</a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
              <div>
                <h5>Members:</h5>
                <table class="striped">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Link</th>
                    </tr>
                  </thead>

                  <tbody>
                    {{#each userArray}}
                    <tr>
                      <td>{{this.username}}</td>
                      <td>
                        <a href="/userBooks/{{this.username}}">Bookshelf</a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </span>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>