{{#if message}}
<div class="modal-container">
<div class="modal green accent-2" style="display:block;">
  <div class=" modal-content">
    {{message}}
  </div>
</div>
</div>
{{/if}}

<div class="main-upper">
<h3>Add New Company</h3>
</div>
<div class="main-lower">
    <div class="content-box">
        <div class="content-box-lower">
            <form action="/company/new" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="company">
                        <label for="company">Company Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="accessCode">
                        <label for="accessCode">Access Code</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="color">
                        <label for="color">Company Accent Color (hex)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input type="submit" value="Create" class="button">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>