<div class="main-upper">
  <h3>{{user.company}} {{i18n "settingsTitle"}}</h3>
  <div class="col s12">
    <ul class="tabs blue-gray-text">
      <li class="tab col s3"><a href="#test1">{{i18n "companyCover"}}</a></li>
      <li class="tab col s3"><a class="active" href="#test2">{{i18n "companyLogo"}}</a></li>
      <li class="tab col s3 disabled"><a href="#color">{{i18n "companyColor"}}</a></li>
    </ul>
  </div>
</div>
<div class="main-lower">

  <div id="test1" class="col s12">
    <div class="content-box">
      <div class="content-box-title">
        {{i18n "companyCoverTitle"}}
      </div>
      <div class="content-box-content">
        <form method="post" action="/company/pic" enctype="multipart/form-data">
          <div class="upload-wrap">
            <div class="row">
              <div class="file-field input-field col s6">
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="{{i18n "uploadFile"}}" required />
                </div>
                <div class="button file-button">
                  <span>{{i18n "browse"}}</span>
                  <input name="companyCover" type="file" />
                </div>

              </div>
              <input type="submit" value="{{i18n "upload"}}" class="button">
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
  <div id="test2" class="col s12">
    <div class="content-box">
      <div class="content-box-title">
        {{i18n "companyLogoTitle"}}
      </div>
      <div class="content-box-content">
        <h4>{{i18n "currentLogo"}}</h4>
        <img src="{{user.companyLogo}}">
        <form method="post" action="/company/logo" enctype="multipart/form-data">
          <div class="upload-wrap">
            <div class="row">
              <div class="file-field input-field col s6">
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="{{i18n "uploadFile"}}" required />
                </div>
                <div class="button file-button">
                  <span>{{i18n "browse"}}</span>
                  <input name="companyLogo" type="file" />
                </div>

              </div>
              <input type="submit" value="{{i18n "upload"}}" class="button">
            </div>

          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
  <div id="color">
    <div class="content-box">
      <div class="content-box-title">
        {{i18n "companyColorTitle"}}
      </div>
      <div class="content-box-content">
        <div class="row">
          {{i18n "currentColor"}}: {{company.color}} <div class="colorpicker" style="background-color: #{{company.color}}"></div>
        </div>
        <form action="/company/color" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="color">
              <label for="color">{{i18n "colorPick"}}</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input type="submit" class="button" value="{{i18n "save"}}">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>