<div class="main-lower">
  <div class="content-box">
    <div class="content-box-title">

    </div>

    <div class="main-lower">

      <div id="single-book">
        <div class="info-container">
          <img src="{{dbook.image}}">
          <div class="single-book-info">
            <h2 class="single-book-title">{{dbook.title}}</h2>
            <h2 class="single-book-author">{{i18n "by"}} {{dbook.author}}</h2>
            <h4><i class="fas fa-clock"></i><span class="single-book-published">{{i18n "publishedAt"}}: <span class="date-place">{{dbook.createdAt}}</span></span></h4>
            <h4>
              <div class="rating" data-rate-value={{dbook.avgRating}}></div>
            </h4>
          </div>
        </div>
        <div class="thought-container dbook-thoughts">
          <h2>{{i18n "reviews"}}</h2>
          {{#each dbook.reviews}}
          <div class="single-review">
            <div class="single-review-author">
              <div class="single-review-author-pic" style="background-image: url('{{this.pic}}')">
              </div>
              <a href="/userBooks/{{this.owner}}">
                <span class="single-review-ownerName">{{this.owner}}</span>
              </a>
              <span class="ratedThis">{{i18n
                "ratedThis"}}</span>
              <div class="rating" data-rate-value="{{this.rating}}"></div>
            </div>
            <div class="single-review-thoughts">
              <p style="word-break: break-word; height: 135px; overflow: hidden;">{{this.thoughts}}</p>
              <a href="{{this.link}}" style="margin-left:20px">
                {{i18n "readFullTakeaway"}}
              </a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>