<div class="main-upper">
  <h3>{{user.company}}{{i18n "their"}} {{i18n "libary"}}</h3>
  <div class="discover-filters" style="display: none">
    Filters
  </div>
</div>
<div class="main-lower">
  <div id="bookshelf-wrap">
    {{#each dbooks}}
    <a href="/discover/{{this.id}}" class="card-link">
      <div class="bookshelf-card">
        <div class="bookshelf-card-inner">
          <div class="card-image-container" style="background-image: url('{{this.image}}'">
          </div>
          <div class="card-text-container">
            <div class="card-rating-holder">
              <div class="rating" data-rate-value={{this.avgRating}}></div>
            </div>
            <div class="card-title-holder">
              {{this.title}}
            </div>
            <div class="card-author-holder">
              {{this.author}}
            </div>
          </div>
        </div>
      </div>
    </a>
    {{/each}}
    <div class="u-clear"></div>
  </div>
</div>