<div class="main-upper">
  <h3>{{i18n "createGroup"}}</h3>
</div>
<div class="main-lower">

  <div class="content-box">
    <div class="content-box-content">
      <form action="/groupcreate" method="post" id="groupCreate" enctype="multipart/form-data">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="groupname" placeholder="{{i18n "groupName"}}">
            <label for="groupname"></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select form="groupCreate" name="type">
              <option value="" disabled selected>{{i18n "chooseGroupType"}}</option>
              <option value="One Book A Month Challenge">{{i18n "obam"}}</option>
              <option value="Best Books I've Read">{{i18n "bbivr"}}</option>
            </select>
            <label>{{i18n "groupType"}}</label>
          </div>

          <div class="input-field col s6">
            {{i18n "groupProfilePic"}}
            <div class="file-field input-field">
              <div class="button">
                <span>{{i18n "browse"}}</span>
                <input name="groupPic" type="file" />
              </div>

              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="{{i18n "upload"}}" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea name="groupdesc" class="materialize-textarea" placeholder="{{i18n "groupDescription"}}"></textarea>
            <label for="groupdesc"></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="submit" value="{{i18n "create"}}" class="button btn">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>