<div class="main-upper group-upper">
  <div class="group-info-pic" style="background-image:url('{{group.groupImage}}');"></div>
  <div class="group-upper-text">
    <h3>{{group.name}}</h3>
    <p>{{group.intro}}</p>
  </div>
  {{#if user.moderator}}
  <form action="/group/cover" method="POST" enctype="multipart/form-data" id="group-cover-change">
    <div class="file-field col s6">
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="{{i18n "cover"}}" />
      </div>
      <div class="button file-button">
        <span>{{i18n "browse"}}</span>
        <input name="groupPic" type="file" />
      </div>
    </div>
    <input type="hidden" name="groupId" value="{{group.id}}">
    <input type="submit" class="button" value="{{i18n "change"}}">
  </form>
  {{/if}}
</div>
<div class="main-lower">

  {{#if isEmpty}}
  {{i18n "emptyGroup"}}
  {{/if}}

  {{!-- Bookpicks --}}

  {{#ifEquals group.type "One Book A Month Challenge"}}
  <div class="picks-wrapper">

    {{#if ../belongsToGroup}}
    <div class="picks-single first-pick">
      {{#if ../myPick}}
      <div class="picks-info">
        <div class="picks-pic">
          <img src="{{../user.pic}}" alt="Profile pic">
        </div>
        <div class="pics-name">
          {{i18n "thisIsMyPick"}}
        </div>
        <a href="#" class="editpick">{{i18n "edit"}}</a>
      </div>
      <div class="picks-pick">
        <img src="{{../myPick.bookImage}}" alt="{{../myPick.bookTitle}}'s cover image">
      </div>
      {{else}}
      <div class="picks-mypick">
        {{i18n "pick"}}
      </div>
      {{/if}}
    </div>
    {{/if}}

    {{#each ../pickMembers}}
    {{#if this}}
    <div class="picks-single">
      <div class="picks-info">
        <div class="picks-pic">
          <img src="{{this.profilepic}}" alt="{{this.name}}'s profilepic">
        </div>
        <div class="pics-name">
          {{this.name}}
        </div>
      </div>
      <div class="picks-pick">
        {{#if this.pick}}
        <img src="{{this.pick.bookImage}}" alt="Cover pic">
        {{else}}
        {{i18n "noPick"}}
        {{/if}}
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
  {{/ifEquals}}

  {{!-- Bookpicker (can only be shown from picks-wrapper) --}}
  <div class="bookpicker">
    <form class="col s12 searchform">

      <div class="row">
        <div class="input-field col s12">
          <div class="row">
            <div class="switch">
              <label>

                <input type="checkbox" id="manually">
                <span class="lever blue accent-2 tooltipped" data-position="bottom" data-tooltip="{{i18n "addManuallyDesc"}}"></span>
                {{i18n "fillManually"}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <form class="col s12 searchform">
          <div class="row">
            <div class="col s12" id="bookname-container">
              <input type="text" id="bookname" name="bookname" autocomplete="off" onkeyup="keyupAction()" placeholder=" {{i18n "searchBy"}}">
              <label for="bookname">

              </label>
            </div>
          </div>
          <input type="submit" value="Search" class="button" id="book-search-button">
          <div class="row">
            <div id="results">

            </div>
          </div>
        </form>
      </div>

      <input type="submit" value="Search" class="button" id="book-search-button">
      <div class="row">
        <div id="results">

        </div>
      </div>
    </form>

    <div class="row">
      <form id="submitpick" action="/bookpick" method="POST" enctype="multipart/form-data" class="col s12">
        <div class="row">
          <div class="col s6">
            <input type="hidden" name="authorField" id="authorField" placeholder="{{i18n "authorLabel"}}">
          </div>
          <div class="col s6">
            <input type="hidden" name="titleField" id="titleField" placeholder="{{i18n "titleLabel"}}">
          </div>
        </div>
        <div class="row">
          <div class="col s6" id="file-container">
            {{i18n "bookCover"}}
            <input type="file" name="manualBookPic">
          </div>
        </div>
        <input type="hidden" name="isbn" id="isbn">
        <input type="hidden" value="{{group.id}}" name="groupIdForPicker">
        <input type="hidden" name="imageField" id="imageField">
        <div class="row">
          <input type="submit" class="button" value="{{i18n "save"}}" style="margin: 15px 0px">
          <button onclick="e.preventDefault(e)" class="button" id="cancelBookpick">{{i18n "cancel"}}</button>
        </div>
      </form>
    </div>
  </div>

  {{!-- Group activity feed --}}

  <div id="group-activity">
    {{#each activities}}
    <div class="activity-wrap">
      <div class="activity-left">
        <div class="activity-image">
          <img src="{{this.data.bookImage}}">
        </div>
        <div class="acitivity-left-info">
          <div class="activity-book-title">
            {{this.data.bookTitle}}
          </div>
          <div class="activity-book-author">
            {{this.data.bookAuthor}}
          </div>
          <div class="rating" data-rate-value={{this.data.bookRating}}></div>
        </div>
      </div>
      <div class="activity-middle">
        <div class="activity-namedate">
          <a href="/userBooks/{{this.user}}">
            <span class="activity-user">{{this.user}}</span>
          </a>
          <span class="date-place">{{this.createdAt}}</span>
        </div>
        <div class="activity-thoughts">
          {{this.data.bookThoughts}}
        </div>
        <a href="/users/books/{{this.link}}">
          <b>{{i18n "readFullTakeaway"}}</b>
        </a>
      </div>
    </div>
    {{/each}}
  </div>


</div>