<div class="main-upper">
    <h3>{{i18n "welcome"}} {{user.company}}{{i18n "their"}} {{i18n "toODC"}}!</h3>
</div>
<div class="main-lower">

    <div class="front-cover">
        <img class="front-cover-img" src="{{result.cover}}">
    </div>