<div class="main-upper">
  <h3>{{i18n "allOf"}} {{user.company}}{{i18n "whosGroups"}}</h3>
</div>
<div class="main-lower">

  <div class="list-groups-container">
    {{#each groups}}
    <div class="list-group">
      <div class="list-group-picname">
        <div class="list-groups-image" style="background-image: url('{{this.groupImage}}');">

        </div>
        <a href="/group/{{this.id}}">
          <div class="list-groups-group">
            {{this.name}}
          </div>
          <div class="list-groups-membercount">
            {{this.members.length}} {{i18n "memberCount"}}
          </div>
        </a>
      </div>
      <div class="list-groups-options">
        {{#if isMember}}
        <form action="/groupleave/{{this.id}}" method="POST">
          <input type="submit" value="{{i18n "leave"}}" class="button">
        </form>
        {{else}}
        <form action="/groupjoin/{{this.id}}" method="POST">
          <input type="hidden" value="{{this.name}}" name="groupname">
          <input type="submit" value="{{i18n "join"}}" class="button">
        </form>
        {{/if}}
        {{#if ../user.admin}}
        <div class="list-groups-delete">
          <form action="/group/delete/{{this.id}}" method="POST">
            <input type="submit" value="Delete" class="button">
          </form>
        </div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>

</div>