<div class="main-upper">
	<h3>{{i18n "login"}}</h3>
</div>
<div class="main-lower">

	<div class="row">
		<form method="POST" action="/users/login" class="col s6">
			<div class="login-group">
				<label>
					{{i18n "username"}}:
				</label>
				<input type="text" name="username">
			</div>
			<div class="login-group">
				<label>
					{{i18n "password"}}:
				</label>
				<input type="password" name="password">
			</div>
			<input type="submit" value="{{i18n "loginButton"}}" class="button">
		</form>
	</div>

</div>