<div class="main-upper">
  <h3>Manage users</h3>
</div>
<div class="main-lower">

  {{#each users}}
  <div class="manage-user">
    <div class="manage-user-name">
      Name: {{this.username}}
    </div>
    <div class="manage-user-id">
      Id: {{this.id}}
    </div>
    <div class="manage-user-email">
      Email: {{this.email}}
    </div>
    <div class="manage-user-company">
      Company: {{this.company}}
    </div>
    <div class="manage-user-admin">
      Admin:
      {{#if this.admin}}
      Yes
      {{else}}
      No
      {{/if}}
    </div>
    <div class="manage-user-groups">
      {{#each this.groups}}
      Groups:
      {{#each this}}
      {{@index}}: {{this}}
      {{/each}}
      {{/each}}
    </div>
    {{#if this.pic}}
    <div class="manage-user-pic">
      <a href="{{this.pic}}">
        Link to picture
      </a>
    </div>
    {{/if}}
    <div class="manage-promote">
      <h6>Moderator status</h6>
      {{#if this.moderator}}
      <form action="/manageusers/demote/{{this.id}}" method="post">
        <input type="submit" class="button red" value="Demote">
      </form>
      {{else}}
      <form action="/manageusers/promote/{{this.id}}" method="post">
        <input type="submit" class="button green" value="Promote">
      </form>
      {{/if}}
    </div>
    <div class="manage-user-remove">
      <form action="/deleteuser/{{this.id}}" method="POST">
        <input type="submit" value="Remove user" class="button remove-button">
      </form>
    </div>
  </div>
  {{/each}}
</div>