<div class="main-upper">
  <h3>{{i18n "recoverTitle"}}</h3>
</div>
<div class="main-lower">
  <form action="/users/recover" method="POST">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="recoverMe" placeholder="{{i18n "myEmail"}}">
        <label for="recoverMe"></label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="submit" class="button" value="{{i18n "submit"}}">
      </div>
    </div>
  </form>
</div>