<div class="main-upper">
  <h3>{{i18n "register"}}</h3>
</div>
<div class="main-lower">

  <div class="row">
    <form method="POST" action="/users/register" class="col s6">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="username" id="username">
          <label for="username">
            {{i18n "username"}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="email" name="email" id="email" required>
          <label for="email">
            {{i18n "email"}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="password" name="password" id="password">
          <label for="password">
            {{i18n "password"}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input type="text" name="accessCodeForm" id="accessCodeForm">
          <label for="accessCodeForm">
            {{i18n "code"}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="submit" value="{{i18n "register"}}" class="button btn">
        </div>
      </div>
    </form>
  </div>

</div>