<div class="main-upper">
  <h3>{{i18n "settings"}}</h3>
  <div class="col s12">
    <ul class="tabs blue-gray-text">
      <li class="tab col s3"><a href="#test1">{{i18n "profilePic"}}</a></li>
      <li class="tab col s3"><a class="active" href="#test2">{{i18n "email"}}</a></li>
      <li class="tab col s3"><a href="#test3">{{i18n "password"}}</a></li>
      <li class="tab col s3 disabled"><a href="#email">{{i18n "emailSettings"}}</a></li>
      <li class="tab col s3"><a href="#lang">{{i18n "languageSetting"}}</a></li>
      <li class="tab col s3 disabled"><a href="#slack">Slack</a></li>
    </ul>
  </div>
</div>
<div class="main-lower">

  <div id="test1" class="col s12">
    <div class="content-box">
      <div class="content-box-title">
        {{i18n "profilePicture"}}
      </div>
      <div class="content-box-content">
        <form method="post" action="/settings" enctype="multipart/form-data">
          <div class="upload-wrap">
            <div class="row">
              {{!-- <div class="file-field input-field col s6">
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="{{i18n "uploadFile"}}" />
                </div>
                <div class="button file-button">
                  <span>{{i18n "browse"}}</span>
                  <input id="profilePic" name="profilePic" type="file" />
                </div>

              </div> --}}
              <br>
              <input type="file" id="profilePic" name="profilePic">
              <br>
              <br>
              <input type="submit" value="{{i18n "upload"}}" class="button">
            </div>

          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
  <div id="test2" class="col s12">
    <div class="content-box">
      <div class="content-box-title">
        {{i18n "changeEmail"}}
      </div>
      <div class="content-box-content">
        {{i18n "currentEmail"}}: {{user.email}}
        <form method="POST" action="/settings/email">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" id="newMail" name="newMail">
              <label for="newMail">
                {{i18n "newEmail"}}
              </label>
            </div>
          </div>
          <div class="row">
            <input type="submit" value="{{i18n "change"}}" class="button">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="test3" class="col s12">
    <div class="content-box">
      <div class="content-box-title">
        {{i18n "changePassword"}}
      </div>
      <div class="content-box-content">
        <form method="POST" action="/settings/password">
          <div class="row">
            <div class="input-field col s6">
              <input type="password" id="newPassword" name="newPassword">
              <label for="newPassword">
                {{i18n "newPassword"}}
              </label>
            </div>
          </div>
          <div class="row">

            <!-- Modal Trigger -->
            <a id="pw-confirm" class="button modal-trigger" href="#modal1">{{i18n "change"}}</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>{{i18n "reallyWannaChange"}}</h4>
              </div>
              <div class="modal-footer">
                <button class="button modal-close" data-target="modal1">{{i18n "no"}}</button>
                <input type="submit" value="{{i18n "yes"}}" class="button modal-close">
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="slack" class="col s12">
    <div class="content-box">
      <div class="content-box-title">
        {{i18n "signInWithSlack"}}
      </div>
      <div class="content-box-content">
        <div style="margin: 20px;" class="row">
          <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.team&client_id=404843339383.477743643077&redirect_uri=https://sk-slack-dom.localtunnel.me/slack/adduser"><img
              alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
              srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
        </div>
        <div style="margin: 20px;" class="row">
          <a href="https://slack.com/oauth/authorize?client_id=404843339383.477743643077&scope=commands,incoming-webhook"><img
              alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
              srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
        </div>
      </div>
    </div>
  </div>
  <div id="email" class="col s12">
    <div class="content-box">
      <div class="content-box-title">
        {{i18n "emailSettings"}}
      </div>
      <div class="content-box-content" id="notificationSettings">
        <h5>{{i18n "notifyMeWhen"}}:</h5>
        <div class="row">
          <div class="switch">
            <label>
              {{i18n "whenPostGroup"}}
              <input id="onGroupPostToggle" type="checkbox" {{#if emailSettings.onGroupPost}} checked{{/if}}> <span
                class="lever"></span>

            </label>
          </div>
        </div>

        <div class="row">
          <div class="switch">
            <label>
              {{i18n "whenPickGroup"}}
              <input id="onGroupPickToggle" type="checkbox" {{#if emailSettings.onGroupPick}} checked{{/if}}> <span
                class="lever"></span>

            </label>
          </div>
        </div>

        <div class="row">
          <div class="switch">
            <label>
              {{i18n "newComment"}}
              <input id="onNewCommentToggle" type="checkbox" {{#if emailSettings.onNewComment}} checked{{/if}}> <span
                class="lever"></span>

            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="lang">
    <div class="content-box">
      <div class="content-box-title">
        {{i18n "languageSettingTitle"}}
      </div>
      <div class="content-box-content">
        <div style="height:50px"></div>
        <form action="/settings/lang/" method="POST">
          <div class="input-field col s6">
            <select name="lang" onchange="this.form.submit()">
              <option value="" disabled selected>{{i18n "chooseLanguage"}}</option>
              <option value="en">English</option>
              <option value="fi">Suomi</option>
            </select>
            <label>{{i18n "chooseLanguage"}}</label>
          </div>
        </form>
        <div style="height:90px"></div>
      </div>
    </div>
  </div>