<div class="main-lower">
  <div class="content-box">
    <div class="content-box-title">

    </div>

    <div class="main-lower">

      <div id="single-book">
        <div class="info-container">
          <img src="{{image}}">
          <div class="single-book-info">
            <h2 class="single-book-title">{{bookTitle}}</h2>
            <h2 class="single-book-author">{{i18n "by"}} {{bookAuthor}}</h2>
            <h4><i class="fas fa-clock"></i><span class="single-book-published">
                {{i18n "publishedAt"}}:
                <span class="date-place">
                  {{#if bookTimeStamp}}
                  {{bookTimeStamp}}
                  {{else}}
                  {{date}}
                  {{/if}}
                </span></span></h4>
            <form action="/bookedit" method="POST" id="date-changer">
              {{#if bookTimeStamp}}
              <input type="date" value="{{bookTimeStamp}}">
              {{else}}
              <input type="date" value="{{date}}">
              {{/if}}
            </form>
            {{#unless owner}}<h4><i class="fas fa-user"></i><span class="single-book-owner">{{owner}}</span></h4>{{/unless}}
            <h4>
              <div class="rating" data-rate-value={{rating}}></div>
            </h4>
          </div>
        </div>
        <div class="thought-container">
          <div class="thought-userinfo">
            <img src="{{ownerImg}}">
            {{owner}}
          </div>
          <p class="my-thoughts">{{thoughts}}</p>
        </div>
        <div class="thoughts-edit-place"></div>
        {{#if myBook}}
        <div class="my-edit-container">
          <button class="button edit-book">{{i18n "edit"}}</button>
          <form method="POST" action="/bookdelete" class="single-delete">
            <input type="hidden" value="{{bookId}}" name="removeId">
            <input type="submit" value="{{i18n "remove"}}" class="button">
          </form>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="content-box">
    <div class="content-box-title">
      {{i18n "comments"}}
    </div>
    <div class="content-box-content">
      {{#each comments}}
      <div class="comment-container">
        <div class="comment-pic">
          <img src="{{this.userPic}}" width="50px">
        </div>
        <div class="comment-info">
          <a href="/userBooks/{{this.userName}}">
            <div class="comment-user">
              {{this.userName}}
            </div>
          </a>
          <div class="comment-timestamp">
            <span class="date-place">{{this.timestamp}}</span>
          </div>
        </div>
        <div class="comment-content">
          {{this.comment}}
        </div>
      </div>
      <div style="clear:both"></div>
      {{/each}}
      <form action="/bookcomment" method="POST">
        <div class="row">
          <div class="input-field">
            <textarea name="commentField" class="materialize-textarea" placeholder="{{i18n "leaveComment"}}"></textarea>
            <label for="commentField"></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="hidden" value="{{bookId}}" name="bookId">
            <input type="submit" value="{{i18n "comment"}}" class="button">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>