<h2>{{i18n "addSlackBot"}}</h2>

<a href="https://slack.com/oauth/authorize?client_id=404843339383.477743643077&scope=commands,incoming-webhook"><img
    alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>