<div class="main-upper">
  <h3>{{i18n "stats"}}</h3>
</div>
<div class="main-lower">

  {{#if adminStats}}
  <div class="content-box overflow-show">
    <div class="content-box-content">
      <form action="/admins/stats/company" method="POST" id="companySelect">
        <div class="input-field col s12">
          <select name="companyId" onchange="this.form.submit()">
            <option value="" disabled selected>{{i18n "selectCompany"}}</option>
            {{#each companies}}
            <option value="{{this.id}}">{{this.company}}</option>
            {{/each}}
          </select>
          <label>{{i18n "companyToCheck"}}</label>
        </div>
      </form>
    </div>
  </div>
  {{/if}}

  <div class="content-box overflow-show">
    <div class="content-box-title">
      {{i18n "company"}}
    </div>
    <div class="content-box-content">
      <img class="stats-company-logo" src="{{stats.companyLogo}}">
      <h3>{{stats.company}}</h3>
    </div>
  </div>

  <div class="content-box overflow-show">
    <div class="content-box-title">
      {{i18n "statsSummary"}}
    </div>
    <div class="content-box-content">
      <div class="row stats-summary">
        <div class="col s4">
          {{userTotal}}
          <div class="stats-summary-sub">
            {{i18n "totalUsers"}}
          </div>
        </div>
        <div class="col s4">
          {{totalBooks}}
          <div class="stats-summary-sub">
            {{i18n "totalBooks"}}
          </div>
        </div>
        <div class="col s4">
          {{avgTotal}}
          <div class="stats-summary-sub">
            {{i18n "avgLength"}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box overflow-show">
    <div class="content-box-title">
      {{i18n "userStats"}}
    </div>
    <div class="content-box-content">
      <table class="striped">
        <thead>
          <tr>
            <th>{{i18n "username"}}</th>
            <th>{{i18n "bookCount"}}</th>
            <th>{{i18n "charAvg"}}</th>
            <th>{{i18n "groups"}}</th>
          </tr>
        </thead>

        <tbody>
          {{#each bookResults}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.count}}</td>
            <td>{{this.avg}}</td>
            <td>{{this.groups}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>