<div class="main-upper">
  <h3>{{i18n "readingTracks"}}</h3>
  <div class="col s12">
    <ul class="tabs blue-gray-text">
      <li class="tab col s3"><a href="#nonFiction">{{i18n "nonfictionTag"}}</a></li>
      <li class="tab col s3"><a href="#companyCulture">{{i18n "cultureTag"}}</a></li>
      <li class="tab col s3"><a href="#investing">{{i18n "investingTag"}}</a></li>
      <li class="tab col s3"><a href="#sales">{{i18n "salesTag"}}</a></li>
    </ul>
  </div>
</div>
<div class="main-lower">

  <div id="nonFiction" class="col s12">

    <div class="content-box">
      <div class="content-box-content">
        {{#each reccats}}
        {{#ifEquals this.category "nonFiction"}}
        {{../this.description}}
        {{/ifEquals}}
        {{/each}}
      </div>
    </div>

    {{#each nonFictionRay}}
    <div class="content-box">
      <div class="track-wrap">
        <div class="track-index">
          {{this.index}}
        </div>
        <div class="track-pic">
          <img src="{{this.image}}">
        </div>
        <div class="track-info">
          <div class="track-info-top">
            <div class="track-info-top-title">
              {{this.title}}
            </div>
            <div class="track-info-top-author">
              {{i18n "by"}} {{this.author}}
            </div>
            <div class="track-info-top-buttons">
              <a href="{{this.link}}">
                <div class="track-info-top-buy button">
                  {{i18n "buyBook"}}
                </div>
              </a>
              {{!-- <div class="track-info-top-add button">
                {{i18n "addToBookshelf"}}
              </div> --}}
            </div>
          </div>
          <div class="track-info-bottom">
            {{this.desc}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div id="companyCulture" class="col s12">

    <div class="content-box">
      <div class="content-box-content">
        {{#each reccats}}
        {{#ifEquals this.category "companyCulture"}}
        {{../this.description}}
        {{/ifEquals}}
        {{/each}}
      </div>
    </div>

    {{#each companyRay}}
    <div class="content-box">
      <div class="track-wrap">
        <div class="track-index">
          {{this.index}}
        </div>
        <div class="track-pic">
          <img src="{{this.image}}">
        </div>
        <div class="track-info">
          <div class="track-info-top">
            <div class="track-info-top-title">
              {{this.title}}
            </div>
            <div class="track-info-top-author">
              {{i18n "by"}} {{this.author}}
            </div>
            <div class="track-info-top-buttons">
              <a href="{{this.link}}">
                <div class="track-info-top-buy button">
                  {{i18n "buyBook"}}
                </div>
              </a>
              {{!-- <div class="track-info-top-add button">
                {{i18n "addToBookshelf"}}
              </div> --}}
            </div>
          </div>
          <div class="track-info-bottom">
            {{this.desc}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div id="investing" class="col s12">

    <div class="content-box">
      <div class="content-box-content">
        {{#each reccats}}
        {{#ifEquals this.category "investing"}}
        {{../this.description}}
        {{/ifEquals}}
        {{/each}}
      </div>
    </div>

    {{#each investingRay}}
    <div class="content-box">
      <div class="track-wrap">
        <div class="track-index">
          {{this.index}}
        </div>
        <div class="track-pic">
          <img src="{{this.image}}">
        </div>
        <div class="track-info">
          <div class="track-info-top">
            <div class="track-info-top-title">
              {{this.title}}
            </div>
            <div class="track-info-top-author">
              {{i18n "by"}} {{this.author}}
            </div>
            <div class="track-info-top-buttons">
              <a href="{{this.link}}">
                <div class="track-info-top-buy button">
                  {{i18n "buyBook"}}
                </div>
              </a>
              {{!-- <div class="track-info-top-add button">
                {{i18n "addToBookshelf"}}
              </div> --}}
            </div>
          </div>
          <div class="track-info-bottom">
            {{this.desc}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div id="sales" class="col s12">

    <div class="content-box">
      <div class="content-box-content">
        {{#each reccats}}
        {{#ifEquals this.category "sales"}}
        {{../this.description}}
        {{/ifEquals}}
        {{/each}}
      </div>
    </div>

    {{#each salesRay}}
    <div class="content-box">
      <div class="track-wrap">
        <div class="track-index">
          {{this.index}}
        </div>
        <div class="track-pic">
          <img src="{{this.image}}">
        </div>
        <div class="track-info">
          <div class="track-info-top">
            <div class="track-info-top-title">
              {{this.title}}
            </div>
            <div class="track-info-top-author">
              {{i18n "by"}} {{this.author}}
            </div>
            <div class="track-info-top-buttons">
              <a href="{{this.link}}">
                <div class="track-info-top-buy button">
                  {{i18n "buyBook"}}
                </div>
              </a>
              {{!-- <div class="track-info-top-add button">
                {{i18n "addToBookshelf"}}
              </div> --}}
            </div>
          </div>
          <div class="track-info-bottom">
            {{this.desc}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>





</div>