<div class="main-upper">
  <h3>{{i18n "addReadingTracks"}}</h3>
  <div class="col s12">
    <ul class="tabs blue-gray-text">
      <li class="tab col s3"><a href="#first">{{i18n "addRecs"}}</a></li>
      <li class="tab col s3"><a href="#second">{{i18n "manageRecs"}}</a></li>
      <li class="tab col s3"><a href="#third">{{i18n "categories"}}</a></li>
    </ul>
  </div>
</div>
<div class="main-lower">
  <div id="first" class="col s12">
    <div class="content-box">
      <div class="content-box-content">
        <form action="/admins/tracks/add" method="post" id="trackCreate" enctype="multipart/form-data">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="title" placeholder="{{i18n "title"}}">
              <label for="title"></label>
            </div>
            <div class="input-field col s6">
              <input type="text" name="author" placeholder="{{i18n "author"}}">
              <label for="author"></label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input type="number" name="index" placeholder="{{i18n "index"}}">
              <label for="index"></label>
            </div>
            <div class="input-field col s6">
              <select form="trackCreate" name="category">
                <option value="" disabled selected>{{i18n "selectCategory"}}</option>
                <option value="nonFiction">{{i18n "nonFiction"}}</option>
                <option value="investing">{{i18n "investing"}}</option>
                <option value="companyCulture">{{i18n "companyCulture"}}</option>
                <option value="marketing">{{i18n "marketing"}}</option>
                <option value="sales">{{i18n "sales"}}</option>
              </select>
              <label>{{i18n "category"}}</label>
            </div>
          </div>
          <div class="row">

            <div class="input-field col s6">
              {{i18n "coverPic"}}
              <div class="file-field input-field">
                <div class="button">
                  <span>{{i18n "browse"}}</span>
                  <input name="trackPic" type="file" />
                </div>

                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="{{i18n "upload"}}" />
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <input type="text" name="link" placeholder="{{i18n "productLink"}}">
              <label for="link"></label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="desc" class="materialize-textarea" placeholder="{{i18n "trackDescription"}}"></textarea>
              <label for="desc"></label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="submit" value="{{i18n "add"}}" class="button btn">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="second">
    {{#each result}}
    <div class="content-box">
      <div class="track-wrap">
        <div class="track-index">
          {{this.index}}
        </div>
        <div class="track-pic">
          <img src="{{this.image}}">
        </div>
        <div class="track-info">
          <div class="track-info-top">
            <div class="track-info-top-title">
              {{this.title}}
            </div>
            <div class="track-info-top-author">
              {{i18n "by"}} {{this.author}}
            </div>
            <div class="track-info-top-add button">
              <form action="/admins/tracks/remove/{{this.id}}" method="POST">
                <input type="submit" class="button" value="{{i18n "remove"}}">
              </form>
            </div>
          </div>
          <div class="track-info-bottom">
            {{this.desc}}
          </div>
        </div>

      </div>
    </div>
    {{/each}}
  </div>
  <div id="third">
    <div class="content-box">
      <form action="/admins/tracks/cat/add" method="POST">
        <div class="row">
          <div class="input-field col s6">
            <h5>{{i18n "addCats"}}</h5>
            <input type="text" name="category" placeholder="{{i18n "category"}}">
            <textarea name="newDesc" class="materialize-textarea" placeholder="{{i18n "description"}}"></textarea>
            <input type="submit" class="button" value="{{i18n "add"}}">
          </div>
        </div>
      </form>
    </div>
    <div class="content-box">
      <h5>{{i18n "manageCats"}}</h5>
    </div>
    {{#each reccats}}
    <div class="content-box">
      <div class="content-box-content">
        <div class="row">
          <div class="col s6">
            <div>
              Category: {{this.category}}
            </div>
          </div>
          <div class="input-field col s6">
            <form action="/admins/tracks/cat/edit" method="post">
              <textarea name="newDesc" class="materialize-textarea" cols="30" rows="10">{{this.description}}</textarea>
              <input type="hidden" name="recId" value="{{this.id}}">
              <input type="submit" class="button" value="{{i18n "modify"}}">
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>