$accent-color: #698FF6;

.top-bar {
  background-color: $accent-color;
}

a .nav-element:hover {
  color: $accent-color;
}

.button {
  background-color: $accent-color;
}

.nav-active {
  color: $accent-color;
}

.menu-line {
  stroke: $accent-color;
}

.bookpick-cover {
  color: $accent-color;
}