@media only screen and (max-width: 800px) {

  .top-bar {
    display: none;
  }

  .navigation {
    position: absolute;
    left: -341px;
  }

  .navigation-menu-button {
    display: block;
  }

  .row .col.s6 {
    width: 100% !important;
  }

  .info-container {
    display: block;
  }

  .single-review-author {
    display: block;
  }

  .disabled-link {
    width: 100%;
  }

  .navigation {
    padding-top: 50px;
  }
}