* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	background-size: cover;
	font-family: 'Poppins', sans-serif;
	/* font-family: 'Arimo', sans-serif; */
	/*color: #57617c;*/
	color: #A1A4AA;
	/*#6f7b9d;*/
	height: 100%;
	overflow-x: hidden;
}

/* OD Framework 1.0 Setup */

h2 {
	font-weight: 100;
	color: #C5C6C7;
}

.grid-container {
	display: flex;
	width: 100%;
	min-height: 100%;
	background-color: #fff;
}

.top-bar h4 {
	font-weight: 100;
}

.top-bar {
	padding: 0.5em;
	color: #fff;
}

.top-bar-logo img {
	height: 50px;
}

.menu-line {
	stroke-width: 2;
	stroke: #698FF6;
}

.navigation {
	min-width: 300px;
	padding-top: 20px;
	color: #A6B8C4;
	background-color: #303945;
	cursor: pointer;
	transition: all 0.3s ease;
	z-index: 2;
	left: 0%;
}

.nav-element-top {
	margin-bottom: 10px;
}

.nav-element {
	margin-bottom: 10px;
	cursor: pointer;
	padding: 5px 45px;
	transition: all 0.3s ease;
}

.nav-element:before {
	display: block;
	width: 5px;
	height: 20px;
	background-color: red;
	position: relative;
}

.nav-element:hover {
	background-color: #242C3B;
}


.nav-element:hover {
	background-color: #242C3B;
}

.nav-active {
	background-color: #242C3B;
}

a .nav-element {
	text-decoration: none;
	color: #A6B8C4;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-weight: 300;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.nav-element i {
	width: 18px;
	color: #A6B8C4;
}

.nav-element svg {
	margin-right: 15px;
}


.nav-element i {
	width: 18px;
	color: #A6B8C4;
}

.nav-element svg {
	margin-right: 15px;
}

.navigation h5 {
	color: #4E586B;
	padding: 15px 40px 5px 40px;
	font-size: 1em;
}

.nav-logo {
	text-align: center;
	margin-top: 10px;
}

.nav-logo img {
	max-width: 200px;
	background-size: cover;
}

.profile-pic-holder {
	width: 125px;
	height: 125px;
	background-size: cover;
	background-position: center center;
	border-radius: 50%;
	margin: 0 auto;
}

.user-info {
	text-align: center;
	padding-bottom: 15px;
	border-bottom: 1px solid #2A333F;
	cursor: auto;
}

.user-info-name {
	font-weight: bold;
}

.user-info-company {
	color: #359ADB;
}

.main {
	width: 100%;
	background-color: #ECF1F5;
}

.main-upper {
	background-color: #fff;
	padding: 20px 20px 0px 20px;
	color: #A1A4AA;
}

.main-upper h3 {
	padding-bottom: 20px;
	display: inline-block;
	font-weight: 200;
	letter-spacing: 2px;
}

.main-lower {
	padding: 20px;
}

/* Global elements */

.content-box {
	max-width: 900px;
	margin: 20px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
}

.content-box-title {
	background-color: #707D95;
	color: #fff;
	padding: 2em;
}

.content-box-content {
	padding: 15px;
}

.button {
	padding: 0px 25px;
	text-align: center;
	border: none;
	border-radius: 25px;
	color: #fff;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}

#results {
	width: 600px;
	list-style: none;
	border-radius: 5px;
	padding: 0;
	background-color: #fff;
	z-index: 9999;
	display: none;
	position: absolute;
	overflow: hidden;
	margin-top: -35px;
}

#results li {
	height: 90px;
	padding: 5px 10px;
	border-bottom: 1px solid #ddd;
}

#results li:last-child {
	border: none;
}

#results li:hover {
	background-color: #f7f7f7;
	cursor: pointer;
}

#results p {
	height: 50%;
	line-height: 40px;
	font-size: 14px;
}

#results p:nth-of-type(1) {
	font-weight: bold;
}

#results div {
	float: left;
	height: 100%;
}

#results .image-container {
	height: 80px;
	width: 52px;
	overflow: hidden;
	float: right;
}

.image-container img {
	text-align: center;
	height: 80px;
}

.book-info {
	float: left;
}

.result-container-box {
	width: 100%;
}

#book-search-button {
	display: none;
}

/* Index */

.front-cover-img {
	max-width: 100%;
}

/* Bookshelf */

#bookshelf-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.bookshelf-card {
	width: 12rem;
	height: 30rem;
	margin: 7px;
	border-radius: 5px;
	color: #707D95;
	background-color: #fff;
}

.bookshelf-card-inner {
	transition: all 0.3s ease;
	box-shadow: 0px 5px 9px #909090;
	overflow: hidden;
	border-radius: 5px;
	width: 12rem;
	height: 30rem;
}

.bookshelf-card-inner:hover {
	margin-top: -5px;
	box-shadow: 0px 7px 14px #636363;
}

.card-image-container {
	height: 18rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.card-text-container {
	padding: 15px;
}

.card-rating-holder {
	margin-left: 0px;
}

.card-rating-holder .rating svg {
	height: 23px;
}

.card-rating-holder .rating {
	margin-left: -10px;
}

.card-title-holder {
	font-weight: bold;
	text-overflow: ellipsis;
	line-height: 1.5em;
	max-height: 3em;
	overflow: hidden;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Arimo', sans-serif;
}

.card-author-holder {
	text-align: center;
	max-height: 2.8em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.thought-userinfo img {
	display: block;
	margin-bottom: 10px;
}

.thought-userinfo {
	text-align: center;
}

/* Add books */

.rating {
	font-size: 2em;
	width: 125px;
	height: 44px;
	color: #359ADB;
	line-height: 44px;
}

.isbn-hid {
	display: none;
}

.rating .rate-base-layer {
	height: 44px;
}

.rating .rate-select-layer {
	height: 44px;
}

.rating .rate-hover-layer {
	height: 44px;
}

#bookname-container {
	transition: all 0.3s ease;
}

#file-container {
	transform: scale(0);
	transition: all 0.3 ease;
}

#rateField {
	opacity: 0;
}

.isbn-hint {
	margin-top: 20px;
	display: none;
}

.no-results-holder {
	padding: 50px;
	border: 2px solid;
	text-align: center;
	border-radius: 5px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.no-results-holder p {}

/* Single book */

#single-book {
	max-width: 900px;
	padding: 30px;
	background-color: #fff;
	color: #5e5e5e;
}

#single-book h4 {
	font-size: 1rem;
	font-family: 'Arimo', sans-serif;
}

#single-book img {
	max-width: 300px;
	max-height: 400px;
	border: 3px solid #f7f7f7;
	border-radius: 3px;
	object-fit: cover;
}

.info-container {
	width: 100%;
	display: flex;
}

.single-book-info {
	margin-left: 30px;
}

.single-book-info .rating svg {
	height: 25px;
}

.card-rating-holder .rating svg {
	height: 25px;
}

.single-book-published,
.single-book-owner {
	margin-left: 10px;
}

.single-book-title {
	font-weight: 400;
	font-size: 2.5rem;
}

.single-book-author {
	font-size: 1.5rem;
	margin-top: 10px;
}

.single-book-info h2 {
	color: #5e5e5e;
}

.single-book-info h4 {
	font-size: 1.1rem;
}

.single-book-info i {
	margin-right: 15px;
}

.single-book-info .rating i {
	margin-right: 0px;
}

.thought-container {
	width: 100%;
	display: flex;
	margin: 20px 0px;
}

.thought-container a {
	color: #A1A4AA;
}

.thought-container h2 {
	font-size: 2rem;
	font-weight: 400;
	color: #5e5e5e;
}

.thought-container img {
	width: 100px;
	height: 100px;
	border-radius: 50% !important;
}

.my-thoughts {
	padding: 20px;
	margin: 20px;
	white-space: pre-wrap;
	word-break: break-word;
}

.my-edit-container {
	width: 100%;
	display: flex;
}

.single-delete {
	margin-left: 20px;
}

/* Comments */

.comment-container {
	margin-bottom: 20px;
}

.comment-info {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	font-weight: 100;
	color: #000;
}

.comment-pic {
	margin-right: 15px;
	min-width: 50px;
	float: left;
}

.comment-content {
	margin-top: 10px;
	word-break: break-all;
	width: 700px;
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	white-space: pre-wrap;
}

/* Group */

#group-wrap {
	display: grid;
	grid-template-columns: 790px 200px;
}

#group-wrap h2 {
	font-size: 2.5rem;
	font-weight: 100;
	border-bottom: 1px solid #f7f7f7;
	padding-bottom: 15px;
}

#group-wrap h3 {
	font-size: 1.6rem;
}

#group-info p {
	margin: 10px 5px;
}

.group-upper {
	display: flex;
	padding-bottom: 20px;
}

.group-info-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	float: left;
	background-size: cover;
	background-position: center center;
	border: 2px solid #359ADB;
	margin-right: 20px;
	margin-top: 10px;
	min-width: 150px;
}

.group-info-text {
	float: left;
	max-width: 350px;
}

.groups-member {
	width: 100%;
	margin-bottom: 10px;
}

.group-pic {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
}

.groups-members,
.groups-owners {
	display: block;
	width: 100%;
	padding: 10px;
}

.groups-member-info {
	float: left;
}

.groups-members [type="submit"] {
	background: transparent;
	border: none;
	color: red;
	text-decoration: underline;
	cursor: pointer;
}

.groups-members form {
	float: right;
	padding-left: 10px;
	margin-top: -4px;
}

.groups-members .chip,
.groups-owners .chip {
	float: left;
	transition: all 0.3s ease;
}

.chip img {
	object-fit: cover;
}

.groups-members .chip:hover,
.groups-owners .chip:hover {
	box-shadow: 0 2px 5px #111;
}

#group-cover-change {
	margin-left: 20px;
	display: flex;
	align-items: center;
}

#group-cover-change input[type="submit"] {
	margin-left: 20px;
}

.bookpick-container {
	display: flex;
	flex-direction: column;
	opacity: 0.2;
}

.bookpick-card {
	width: 15rem;
	height: 27rem;
	float: left;
	border: 1px solid white;
	border-radius: 5px;
	margin: 5px 10px;
	overflow: hidden;
}

.bookpick-cover {
	background-color: #ECF1F5;
	width: 100%;
	height: 100%;
	z-index: 2;
	text-align: center;
	line-height: 23rem;
	font-size: 1.75em;
	cursor: pointer;
	transition: all 0.3s ease;
}

.card-rating-holder .rating {
	margin: 0 auto !important;
}

.bookpick-cover:hover {}

.bookpick-card h3 {
	text-align: center;
}

.empty {
	padding: 10px;
}

.bookpick-image {
	width: 15rem;
	height: 20rem;
	background-size: cover;
	background-position: center center;
}

.bookpick-owner {
	padding: 5px;
	font-style: italic;
}

.bookpick-title {
	padding: 5px;
	font-weight: bold;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 2em;
	overflow: hidden;
}

.bookpick-author {
	padding: 5px;
}

.groups-members {
	float: left;
}

.groups-owners {
	float: left;
}

.groups-member,
.groups-owner {
	float: left;
	text-align: center;
}

#submitpick {
	display: inline-block;
}

#bookpick-form {
	text-align: center;
}

.bookpick-label {
	float: left;
	margin-right: 115px;
}

#group-activity {
	margin: 0px 10px;
}

#group-activity a {
	color: #A1A4AA;
}

#group-activity .rating {
	font-size: 1.5em;
}

.activity-wrap {
	display: flex;
	height: 175px;
	border-radius: 7px;
	background-color: #fff;
	margin: 15px 0px;
	overflow: hidden;
	padding: 15px;
	align-content: flex-start;
	flex-basis: 200px;
	flex: 0 1 auto;
}

.activity-wrap:hover {
	opacity: 0.9;
}

.activity-row {
	flex-grow: 1;
}

.activity-info {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.activity-image {
	margin-right: 20px;
	width: 85px;
}

.activity-image img {
	height: 80%;
	width: 85px;
}

.acitivity-date a {
	font-weight: 100;
}

.activity-thoughts {
	width: 700px;
	height: 90px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	word-break: break-word;
}

.activity-left {
	margin-right: 20px;
	display: flex;
	width: 255px;
	height: 100%;
}

.activity-book-title {
	font-size: 1.2em;
	font-weight: bold;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	width: 150px;
	height: 80px;
}

.activity-book-author {
	overflow: hidden;
	width: 150px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.activity-middle {
	flex-grow: 3;
	height: 100%;
	max-width: 640px;
}

.activity-namedate {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.activity-user {
	font-weight: 600;
}

.activity-right {
	max-width: 100px;
	flex-grow: 1;
}

.picks-wrapper {
	display: flex;
	margin: 0px 10px;
}

.picks-single {
	width: 16em;
	height: 10.5em;
	border: 1px solid #fdfdfd;
	background-color: #f7f7f7;
	border-radius: 4px;
	display: flex;
	padding: 10px;
	text-align: center;
	margin: 0px 15px 15px 0px;
	transition: all 0.3s ease;
}

.picks-info {
	width: 55%;
	flex-direction: column;
	justify-content: space-evenly;
}

.picks-pic img {
	object-fit: cover;
	width: 80%;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	border: 1px solid #f7f7f7;
	margin-top: 2em;
}

.picks-pick {
	width: 42%;
	display: flex;
	border: 2px solid #e0e0e0;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.picks-pick img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.picks-mypick {
	line-height: 9em;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.first-pick:hover {
	margin-top: -2px;
	box-shadow: 0px 5px 15px rgb(158, 158, 158);
}

.bookpicker {
	margin: 0px 10px;
	display: none;
	padding: 25px;
	border-radius: 5px;
	background-color: #fff;
}

/* User management */

.manage-user {
	float: left;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #f7f7f7;
	margin: 10px;
}

.remove-button {
	background-color: red;
	cursor: pointer;
	margin-top: 10px;
}

/* Groups list */

.list-group {
	border-radius: 16px;
	background-color: #fdfdfd;
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

.list-groups-image {
	width: 125px;
	height: 125px;
	background-size: cover;
	border-radius: 50%;
	border: 2px solid #A1A4AA;
	margin-right: 20px;
}

.list-groups-container a {
	color: #A1A4AA;
}

.list-groups-group {
	font-size: 2em;
}

.list-groups-group,
.list-groups-created {
	margin-right: 10px;
}

.list-group-picname {
	display: flex;
	align-items: center;
}

.list-groups-options {
	align-items: center;
	display: flex;
}

/* DBooks */

.single-review {
	padding: 15px;
}

.single-review-author {
	display: flex;
	align-items: center;
}

.ratedThis {
	margin: 0px 5px;
}

.single-review-author .rating {
	display: inline-block;
}

.single-review-thoughts {
	margin: 20px;
	word-break: break-word;
}

.single-review-ownerName {
	font-weight: bold;
}

.discover-filters {
	margin: 30px;
	padding: 0px 20px;
	border: 2px solid #c5cad6;
	border-radius: 20px;
	height: 40px;
	display: inline-block;
	text-transform: uppercase;
	line-height: 40px;
}

.single-review-author-pic {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-size: cover;
	margin-right: 20px;
	background-position: center center;
}

.dbook-thoughts {
	display: block;
}

/* Companies */

.front-cover {
	background-size: cover;
	min-height: 300px;
}

.company-wrap {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	background-color: #fff;
	border-radius: 5px;
}

.company-info {}

/* Settings */

.modal-content h4 {
	color: #707D95;
}

#modal1 {
	display: none;
}

.modal-trigger {
	padding-top: 10px;
	padding-bottom: 10px;
}

.track-wrap {
	display: flex;
	margin-bottom: 20px;
	padding: 15px;
}

.track-index {
	font-size: 2em;
}

.track-pic img {
	border-radius: 3px;
	border: 1px solid #c5cad6;
	object-fit: cover;
	width: 100px;
	height: 175px;
	margin: 0px 20px;
}

.track-info {
	flex-grow: 2;
}

.track-info-top {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}

.track-info-top-title {
	font-size: 1.3em;
	font-weight: bold;
}

.track-info-top-author {
	font-size: 1.1em;
	margin: 0px 10px;
}

.track-info-bottom {
	padding: 10px;
}

.track-info-top-buttons {
	display: flex;
}

.track-info-top-buy {
	margin-right: 15px;
	min-width: 120px;
}

/* Stats */

.stats-summary {
	text-align: center;
	font-size: 5em;
	font-weight: 100;
}

.stats-summary-sub {
	font-size: 0.3em;
	font-weight: 600;
	margin-top: 15px;
}

.stats-company-logo {
	max-width: 100%;
}

/* Materialize form edit */

/* label focus color */
.input-field input[type=text]:focus+label {
	color: #359ADB;
}

/* input[type=text]:not(.browser-default) {
	border-bottom: 1px solid #359ADB;
} */

/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #359ADB !important;
	box-shadow: 0 1px 0 0 #359ADB !important;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
	color: #359ADB;
}

.input-field textarea:focus {
	border-bottom: 1px solid #359ADB !important;
	box-shadow: 0 1px 0 0 #359ADB !important;
}

textarea.materialize-textarea:focus:not([readonly])+label {
	color: #359ADB;
}

/* File upload */

.upload-wrap input[type=file] {
	background: transparent;
}

.upload-wrap {}

.file-button {
	width: auto;
	float: left;
	margin-right: 20px;
}

/* Tabs color */

.tabs .tab a {
	color: #707D95;
}

/*Black color to the text*/

.tabs .tab a:hover {
	background-color: #f2f2f2;
	opacity: 0.8;
	color: #707D95;
}

/*Text color on hover*/

.tabs .tab a.active {
	background-color: #f2f2f2;
	color: #707D95;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
	background-color: #707D95;
}

/*Color of underline*/

/* Error */

.error-container {
	padding: 5em;
	text-align: center;
}

.error-container h2 {
	font-weight: bold;
}

/* Utilities */

.u-clear {
	clear: both;
}

.modal-container {
	position: fixed;
	z-index: 9999;
	max-width: 500px;
	width: 100%;
}

.modal {
	z-index: 9999;
	transition: all 0.6s ease;
	display: block;
	color: #fff;
	position: relative;
	float: left;
	margin-bottom: 20px;
}

.results-pick {
	margin-top: 0px !important;
}

.results-pick p {
	margin: 0px !important;
}

.colorpicker {
	width: 10px;
	height: 10px;
	display: inline-block;
}

.disabled-link {
	pointer-events: none;
	opacity: 0.5;
	display: inline-block;
	cursor: default;
}

.overflow-show {
	overflow: visible;
}

#date-changer {
	display: none;
}

.isbn-hint {
	display: none;
	margin-top: -20px;
}

.popup-actuator:hover .info-popup {
	display: block;
}

.info-popup {
	border: 2px solid #A1A4AA;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	width: 350px;
	z-index: 99999;
	background-color: #fff;
	color: #A1A4AA;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 0.8em;
	display: none;
	transform: all 0.3s ease;
}

/* Mobile setup */

.navigation-menu-button {
	position: fixed;
	left: 10px;
	top: 10px;
	display: none;
	z-index: 99999999;
}

@media only screen and (max-width: 1400px) {
	.grid-container {
		width: 100%;
		min-height: 100vh;
	}

	#group-wrap {
		width: 100%;
		max-width: 790px;
		grid-template-columns: 600px 190px;
	}

	.row {
		max-width: 790px;
		margin: 0px;
	}

	#bookshelf-wrap {
		width: 100%;
	}
}